.nav_div{
    /*background-color:#3679a3;*/
    padding: 1em;
    border-radius: 0.5em;
    color: white;

}


/* chaange */
.nav_a{
    padding-right: 2em;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.body{
    
    margin: auto; 
    padding-top: 2.5em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: url("../img/background.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
   
}

.nav_pad{
    padding-left: 1em;
}

#h1_pad{
    padding-left: 0.5em;
}



.h1_welcome{
    color: white;
    font-size: 70px;
    padding-top: 20vh;
}

#my_name{
    color:#ff914d ;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 1.3em;

}

#footer_div{
    padding-top: 5em;
}

#table_id{
    margin-left: auto;
    margin-right: auto;
}
/* change */
#img_logo{
    padding-right: 50px;
    width: 8vw;
}

/* change */
#handle_id{
    padding-right: 2vw;
    font-size: 1.5vw;
}

/* change */

.games_link{
    color: white;
    text-decoration: none;
    /* padding-left: 30px; */
    /* margin-left: -1vw; */

}


.body_about{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav_about{
    background-color: #127ab3;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    /* padding: 0.1em; */
    padding-top: 3.5em;
    padding-bottom: 1.5em;
}

.div1_about{
    float: left;
    padding-right: 1em;
    margin-top: 6.2em;   /* removes top space*/
    margin-left: -9px;   /* removes left space*/

}

.div2_about {
   
    padding-top: 6.2em;
    color:#117db8;
   
}

#profile_img{
    height: 100vh;
}

#about_p{
    font-size: 3em;
    text-align: center;
}

#about_details{
    text-align: justify;
    font-size: 1.5em;
}

.body_project{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.row{
    clear:both;
    height: 5ovh;
}

.column{
    float: left;
    width: 33.33%;
   
    margin-top: 8em;
}

.project_info{
    color: #127ab3; 
    font-size: 1.5em
}

.column2{
    float: left;
    width: 33.33%;
   
    margin-top: 1.5em;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav_game{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    /* padding: 0.1em; */
    padding-top: 3.5em;
    padding-bottom: 1.5em;
    color: #127ab3;
}

#top_games{
    position: fixed;
    top: 45%;
    width: 100%;
    color: white;
    font-size: 50px;

}

#footer_game{
    position: fixed;
    bottom: 2%;
    width: 100%;
    color: #fff;
    font-size: 1.3em;

}




/* lesson 10 */

.body_contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#top_contact{
    position: fixed;
    top: 20%;
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    

}

#form{
    position: fixed;
    top: 30%;
    width: 100%;
    color: white;
}

/* padding: top right bottom left */

.form_text{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 15px;
    padding: 15px 0 15px 15px;
    margin-bottom: 10px;
    resize: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#submit_button{
    width: 100px; 
    background-color: #ff914d; 
    color: #fff; 
    height: 35px; 
    width: 200px;
    border:none;
    margin-top: 20px;
}

#copyright{
    bottom: 0; 
    position: fixed; 
    width: 100%;
    color: #fff;
}





